# Ignore files larger than GitHub's 100MB limit

# 机器学习
机器学习/《统计学习方法第2版》PDF.pdf
机器学习/图深度学习.pdf
机器学习/深度学习推荐系统-王喆.pdf

# 日语学习
日语学习/大家的日语1.rar
日语学习/大家的日语2.rar
日语学习/最有趣的日语会话课本.pdf
日语学习/最有趣的日语会话课本_0905163510.pdf
日语学习/最有趣的日语会话课本_0905163510(1).pdf
日语学习/标准日本与 中级下（98面）_彩印双面_浅蓝色皮纹纸胶装_扫描版.pdf
日语学习/标准日本与 初级上（74面）_彩印双面_浅蓝色皮纹纸胶装_扫描版.pdf
日语学习/标准日本语  初级下（74面）_彩印双面_浅蓝色皮纹纸胶装_扫描版.pdf
日语学习/标准日本语 中级上（98面）_彩印双面_浅蓝色皮纹纸胶装_扫描版.pdf
日语学习/标准日本语 高级上（88面）_彩印双面_浅蓝色皮纹纸胶装_扫描版.pdf
日语学习/标准日本语 高级下（90面）_彩印双面_浅蓝色皮纹纸胶装_扫描版.pdf
